<h1>フォロー中</h1>

<%#= render '/layouts/header' # ここはコメントアウト%>

<% if !@follower.nil? %>
    <% @followings.each do |following| %>
        <%= gravatar_for following %>
        <%= following.name %>
    <% end %>
<% end %>