<h1>フォロワー</h1>

<%# render '/layouts/header' # ここはコメントアウト %>

<% if !@followed.nil? %>
  <% @followed.each do |followed| %>
    <%= gravatar_for followed %>
    <%= followed.name %>
  <% end %>
<% end %>