<h1>フォロワー</h1>

<%# render '/layouts/header' # ここはコメントアウト %>

<% if !@follower.nil? %>
  <% @followers.each do |followeds| %>
    <%= gravatar_for followed %>
    <%= followed.name %>
  <% end %>
<% end %>