<h1>フォロワー</h1>

<%# render '/layouts/header' # ここはコメントアウト %>

<% if !@follower.nil? %>
  <% @followers.each do |followers| %>
    <%= gravatar_for follower %>
    <%= follower.name %>
  <% end %>
<% end %>