<h1>フォロー中</h1>

<%#= render '/layouts/header' # ここはコメントアウト%>

<% if !@follower.nil? %>
    <% @follower.each do |follower| %>
        <%= gravatar_for follower %>
        <%= follower.name %>
    <% end %>
<% end %>